<% witty_banter = ['Definitely paint the barn', 'Paint the barn'] %>
<div class="container">
  <div class="text">
    <div class="largeText">
      <div class="title">SHOULD I MEADOW MANAGE OR PAINT THE BARN?</div>
      <div class="ProportionateFont">
        <%=witty_banter.sample %>
      </div>
    </div>
  </div>
